---
import { randomUUID } from 'node:crypto'

interface Props {
  class?: string
  type: astroHTML.JSX.HTMLInputTypeAttribute
  name?: string
  placeholder?: string
  label?: string
  value?: string
  required?: boolean
}

const {
  class: className,
  type,
  name,
  placeholder,
  label,
  value,
  required
} = Astro.props

const id = randomUUID()
---

<div class:list={['relative text-xs', className]}>
  {
    label && (
      <label class="absolute bottom-full left-4 mb-0.5 text-primary" for={id}>
        {label}
      </label>
    )
  }
  {required && <span class="absolute top-0 left-full text-primary">*</span>}
  <input
    class:list={[
      'w-full h-10 px-5 bg-transparent border border-primary rounded-full',
      type === 'date' ? 'text-[#a9a9ab]' : 'placeholder:text-[#a9a9ab]',
      'outline-warning'
    ]}
    type={type}
    name={name}
    id={id}
    placeholder={placeholder}
    value={value}
    required={required}
  />
</div>
